<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>User_registration</servlet-name>
        <servlet-class>User_registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Flp</servlet-name>
        <servlet-class>Flp.Flp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Fli</servlet-name>
        <servlet-class>Fli</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Upass</servlet-name>
        <servlet-class>Upass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendOtpServlet</servlet-name>
        <servlet-class>SendOtpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyOtpServlet</servlet-name>
        <servlet-class>VerifyOtpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mailer</servlet-name>
        <servlet-class>Mailer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User_checklogin</servlet-name>
        <servlet-class>User_checklogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User_home</servlet-name>
        <servlet-class>User_home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Profile</servlet-name>
        <servlet-class>Profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sendforgotlink</servlet-name>
        <servlet-class>Sendforgotlink</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendingMail</servlet-name>
        <servlet-class>SendingMail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>help_and_support_submit_ticket</servlet-name>
        <servlet-class>help_and_support_submit_ticket</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User_profile_update</servlet-name>
        <servlet-class>User_profile_update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Resetpassword</servlet-name>
        <servlet-class>Resetpassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_checklogin</servlet-name>
        <servlet-class>Admin_checklogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_home</servlet-name>
        <servlet-class>Admin_home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Premium_User</servlet-name>
        <servlet-class>Premium_User</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Expired_Subscription</servlet-name>
        <servlet-class>Expired_Subscription</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Show_All_Users</servlet-name>
        <servlet-class>Show_All_Users</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User_Delete</servlet-name>
        <servlet-class>User_Delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Premium_SendOtpServlet</servlet-name>
        <servlet-class>Premium_SendOtpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>premium_VerifyOtpServlet</servlet-name>
        <servlet-class>premium_VerifyOtpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Premium_User_registration</servlet-name>
        <servlet-class>Premium_User_registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Premium_User_Checklogin</servlet-name>
        <servlet-class>Premium_User_Checklogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Premium_User_home</servlet-name>
        <servlet-class>Premium_User_home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Premium_Bmi_Servlet</servlet-name>
        <servlet-class>Premium_Bmi_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>premium_user_resetpassword</servlet-name>
        <servlet-class>premium_user_resetpassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>premiumusersendforgotlink</servlet-name>
        <servlet-class>premiumusersendforgotlink</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>User_registration</servlet-name>
        <url-pattern>/User_registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Flp</servlet-name>
        <url-pattern>/Flp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Fli</servlet-name>
        <url-pattern>/Fli</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Upass</servlet-name>
        <url-pattern>/Upass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendOtpServlet</servlet-name>
        <url-pattern>/SendOtpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyOtpServlet</servlet-name>
        <url-pattern>/VerifyOtpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mailer</servlet-name>
        <url-pattern>/Mailer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User_checklogin</servlet-name>
        <url-pattern>/User_checklogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User_home</servlet-name>
        <url-pattern>/User_home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profile</servlet-name>
        <url-pattern>/Profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sendforgotlink</servlet-name>
        <url-pattern>/Sendforgotlink</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendingMail</servlet-name>
        <url-pattern>/SendingMail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>help_and_support_submit_ticket</servlet-name>
        <url-pattern>/help_and_support_submit_ticket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User_profile_update</servlet-name>
        <url-pattern>/User_profile_update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Resetpassword</servlet-name>
        <url-pattern>/Resetpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_checklogin</servlet-name>
        <url-pattern>/Admin_checklogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_home</servlet-name>
        <url-pattern>/Admin_home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Premium_User</servlet-name>
        <url-pattern>/Premium_User</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Expired_Subscription</servlet-name>
        <url-pattern>/Expired_Subscription</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Show_All_Users</servlet-name>
        <url-pattern>/Show_All_Users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User_Delete</servlet-name>
        <url-pattern>/User_Delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Premium_SendOtpServlet</servlet-name>
        <url-pattern>/Premium_SendOtpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>premium_VerifyOtpServlet</servlet-name>
        <url-pattern>/premium_VerifyOtpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Premium_User_registration</servlet-name>
        <url-pattern>/Premium_User_registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Premium_User_Checklogin</servlet-name>
        <url-pattern>/Premium_User_Checklogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Premium_User_home</servlet-name>
        <url-pattern>/Premium_User_home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Premium_Bmi_Servlet</servlet-name>
        <url-pattern>/Premium_Bmi_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>premium_user_resetpassword</servlet-name>
        <url-pattern>/premium_user_resetpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>premiumusersendforgotlink</servlet-name>
        <url-pattern>/premiumusersendforgotlink</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
